[Unit]
Description=Unit for start app {{app_name}}
After=network.target

[Service]
User=root
WorkingDirectory=/apps/{{app_name}}
ExecStartPre=/bin/bash -lc 'source /etc/profile.d/rvm.sh; SECRET_KEY_BASE={{SECRET_KEY_BASE}} RAILS_ENV={{RAILS_ENV}} RAILS_LOG_TO_STDOUT={{RAILS_LOG_TO_STDOUT}} DB_HOST={{DB_HOST}} DB_PORT={{DB_PORT}} DB_NAME={{db_name}} DB_USER={{db_user}} DB_PASSWORD={{db_password}} bundle exec rake db:migrate'
ExecStart=/bin/bash -lc 'source /etc/profile.d/rvm.sh; SECRET_KEY_BASE={{SECRET_KEY_BASE}} RAILS_ENV={{RAILS_ENV}} RAILS_LOG_TO_STDOUT={{RAILS_LOG_TO_STDOUT}} DB_HOST={{DB_HOST}} DB_PORT={{DB_PORT}} DB_NAME={{db_name}} DB_USER={{db_user}} DB_PASSWORD={{db_password}} bundle exec puma -b unix:/var/run/puma.sock -e $RAILS_ENV config.ru'
Restart=always

[Install]
WantedBy=multi-user.target
